<div class="col-lg-8 mx-auto">
<div class="card shadow">
<div class="card-header">
<h2 class="h3 mb-3 mt-4 font-weight-normal">Sign Up</h2>
</div>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  
    <%= f.text_field :name ,placeholder:"Name",class:"form-control " %>

  <div>
  
    <%= f.text_field :surname ,placeholder:"Surname",class:"form-control "%>
  </div>

  <div>
    
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email",class:"form-control " %>
  </div>

  <div>
    
    <% if @minimum_password_length %>
  
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" ,placeholder:"Password",class:"form-control "%>
  </div>

  <div >
   
    <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"confirm Password",class:"form-control" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit "Sign up" ,class:"btn btn-primary btn-lg" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div>
</div>
