<div class="col-lg-8 mx-auto">
<h1>Articles</h1>
<center>
<input type=”text” name=”query” id=”query” placeholder="search here">
<%= submit_tag("Search", class: "btn btn-primary") %>
</center>
<br>

<div class="container">
<div class="row">

<% @articles.each do |article| %>
  <div class="col-4">
  <%if article.user == current_user %>
  <div class="card shadow mb-3">
  <div class="card-body">
  <%= article.title %>
  
<br><br>
<%= link_to "show", article_path(article),class:"btn btn-primary "%>
  
      
    </a>

  </div>
  </div>
  <%end%>
  </div>
<% end %>

</div>
</div>
  


<%= link_to "New Article", new_article_path ,class:"btn btn-primary btn-lg"%>
<br><br>
<%= button_to "logout", destroy_user_session_path, method: :delete , class:"btn btn-primary btn-lg" %>

</div>